:root {
    --tca-primary: hsl(172, 67%, 45%);

    --tca-very-dark-cyan: hsl(183, 100%, 15%);
    --tca-dark-grayish-cyan: hsl(186, 14%, 43%);
    --tca-grayish-cyan: hsl(184, 14%, 56%);
    --tca-light-grayish-cyan: hsl(185, 41%, 84%);
    --tca-very-light-grayish-cyan: hsl(189, 41%, 97%);
}

input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
    padding-left: 20px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type='number']::before {
    content: '$';
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
}
.error {
    border-color: red !important;
    outline-color: red !important;
    border-width: 1px;
}
